@import '../styles/tokens/color.css';
@import '../styles/tokens/fonts.css';

body{
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 0px;
  margin: 0px;
}

:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.text-accent{
  color: var(--text-primary-default)
}

.text-hint{
  color: var(--text-hint);
}

.page{
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 0px
}

.section-container{
  padding: 72px 64px
}